<h2>User info</h2>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" ,format: 'no_image.jpg' %>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @book.user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @book.user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div><%= link_to "プロフィール編集", edit_user_path(@book.user), class: "pull-right" %></div> 

<%= render 'books/new book', book_new: @book_new %>

<h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br><%= link_to user_path(@book.user_id) do %><%= @book.user.name %><% end %></td>
              <td><%= link_to book_path do %>
                  <p><%= @book.title %></p>
                  <% end %>
              </td>
              <td><%= @book.body %></td>

              <% if @book.user == current_user %>
              <td>
                <%=link_to "Edit",edit_book_path(@book.id) %>
              </td>
              <td>
                <%=link_to "Destroy",book_path(@book.id) method: :delete, "data-confirm" => "本当に消しますか?" %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>